body {
  background-color: #000;
  margin: 0px;
  overflow: hidden;
}

a {
  color: white;
}
a:hover{
  color: red;
}

.title {
  position: absolute;
  top: 0.5rem;
  width: 100%;
  text-align: center;
  color: white;
}